* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
}


.header {
    background-color: #134675;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    width: auto;
    max-height: 200px;
}

a {
    text-decoration: none;
}

.header-logo {
    font-weight: bold;
}

.top-link {
    padding-left: 15px;
    padding-right: 15px;   
}

.main-info {
    display: flex;
    justify-content: space-around;
    background-color: #134675;
    color: white;
    padding: 30px;
    padding-left: 150px;
    padding-right: 150px;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
}

.sewing-machine {
    margin: 15px;
    width:inherit;
    height:inherit;
    object-fit: contain;
}

h1 {
    font-size: 60px;
}

.welcome-info {
    font-size: 20px;
}

.button-info {
    font-size: 17px;
}

button {
    background-color: white ;
    color: #134675;
    border: #134678;
    padding: 20px;
    text-align:center;
    text-decoration: none;
    line-height: 0em;
    display: inline-block;
    font-size: 16px;
    width: 120px;
    height: 30px;
    border-radius: 12px;
}

.recent-projects {
    display: flex;
    justify-content: center;
    font-size: 60px;
}

.buttons-and-text {
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 60px;
    margin-right: 60px;
}

.pic-link-description {
    display: flex;
    justify-content: center;
}

.quote {
    background-color: #c7c8c9;
    text-align: center;
    font-size: 40px;
    padding: 30px;
}

.sign-up {
    background-color: #134675;
    color: white;

}

/* .item-1, .item-2, .item-3, .item-4 {
    border: 2px solid #134675;

} */

/* .pic-link-1, .pic-link-2, .pic-link-3, .pic-link-4 {
    border: 2px solid #134675;
} */

/* .buttons-no-text {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    min-width: 15px;
    justify-content: center;
}


.pic-link-1, .pic-link-2, .pic-link-3, .pic-link-4 {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
}


li {
    list-style: none;
}

.image-description {
    display: inline-block;
    justify-content: center;
}



 */
